<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <!-- Mi Sistema de rutas -->
      <router-outlet></router-outlet>
    </section>
  </div>

  <!-- Botón de WhatsApp -->
  <a href="https://wa.link/r2no7n" class="float" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
  </a>

  <app-footer></app-footer>
</div>

<app-modal-imagen></app-modal-imagen>
