<div class="hold-transition login-page">
  <img
    src="./assets/imagenes/logo-congregacion-mita.png"
    class="img-fluid"
    alt="Sistema de gestión de la Congregación Mita"
  />
  <div class="py-3 text-center">
    <div class="title">Bienvenidos</div>
    <div class="subTittle">Control de Ingreso</div>
  </div>
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary pb-4">
      <span class="mt-5">
        <hr />
      </span>
      <div class="card-body">
        <p class="login-box-msg font-weight-bold">Iniciar Sesión</p>

        <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Usuario" formControlName="login" />
            <div class="input-group-append">
              <div class="input-group-text">
                <fa-icon [icon]="faUser"></fa-icon>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              [type]="fieldTextType ? 'text' : 'password'"
              class="form-control"
              placeholder="Contraseña"
              formControlName="password"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i
                  class="fa"
                  [ngClass]="{
                    'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType
                  }"
                  (click)="toggleFieldTextType()"
                ></i>
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" formControlName="remember" />
                <label for="remember" class="ml-2"> Recordar </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-6">
              <button type="submit" class="btn btn-primary botonPrincipal">Ingresar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<app-footer></app-footer>
