@import 'congregacion_variables';

.hold-transition.login-page {
  background-image: url(./../../../assets/imagenes/fondo.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  color: $primary;
  font-weight: bold;
  font-size: 40px;
}

.subTittle {
  color: $secundary;
  font-weight: 700;
  font-size: 20px;
}

.card-primary.card-outline {
  border-top: 3px solid $blue;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 10px 19px;
}
