<div class="hold-transition login-page">
  <div class="py-3 text-center">
    <div class="title">Bienvenidos</div>
    <div class="subTittle">Control de Ingreso</div>
  </div>
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <img
          src="./assets/imagenes/logo.png"
          width="50%"
          class="img-fluid"
          alt="Sistema de gestión de la Congregación Mita"
        />
      </div>
      <div class="card-body">
        <p class="login-box-msg">Iniciar Sesión</p>

        <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Usuario" formControlName="login" />
            <div class="input-group-append">
              <div class="input-group-text">
                <fa-icon [icon]="faUser"></fa-icon>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" />
            <div class="input-group-append">
              <div class="input-group-text">
                <fa-icon [icon]="faLock"></fa-icon>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" formControlName="remember" />
                <label for="remember"> Recordar </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-6">
              <button type="submit" class="btn btn-primary botonPrincipal">Ingresar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p class="mt-2">
          <span
            >¿No tienes una cuenta? <a routerLink="/registro" class="text-center font-weight-bold">Registrarse</a></span
          >
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<app-footer></app-footer>
