<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Carnet de Vacunación</h3>
  </div>

  <div class="card-body">
    <div class="text-center">
      <img *ngIf="!imagenTemporal" [src]="imagenCarnet" class="img-thumbnail" />
      <img *ngIf="imagenTemporal" [src]="imagenTemporal" class="img-thumbnail" />
    </div>

    <div class="mt-4">
      <input type="file" (change)="cambiarImagen($event.target.files[0])" />
      <br />
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!imagenSubir" (click)="subirImagen()">
      <i class="fa fa-save"></i> Cambiar Imagen
    </button>
  </div>
</div>
