<div class="row">
  <div class="col-md-6">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Mi perfil de usuario</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form [formGroup]="perfilForm" (submit)="actualizarPerfil()">
        <div class="card-body">
          <div class="form-group">
            <label for="primer_nombre">Primer Nombre</label>
            <input
              type="text"
              class="form-control"
              id="primer_nombre"
              formControlName="primer_nombre"
              placeholder="Primer Nombre"
            />
          </div>
          <div class="form-group">
            <label for="segundo_nombre">Segundo Nombre</label>
            <input
              type="text"
              class="form-control"
              id="segundo_nombre"
              formControlName="segundo_nombre"
              placeholder="Segundo Nombre"
            />
          </div>
          <div class="form-group">
            <label for="primer_apellido">Primer Apellido</label>
            <input
              type="text"
              class="form-control"
              id="primer_apellido"
              formControlName="primer_apellido"
              placeholder="Primer Apellido"
            />
          </div>
          <div class="form-group">
            <label for="segundo_apellido">Segundo Apellido</label>
            <input
              type="text"
              class="form-control"
              id="segundo_apellido"
              formControlName="segundo_apellido"
              placeholder="Segundo Apellido"
            />
          </div>
          <div class="form-group">
            <label for="id_tipoDocumento">Tipo de Documento</label>
            <div class="input-group mb-3">
              <select class="form-control" formControlName="id_tipoDocumento">
                <option value="" disabled>Seleccione un tipo de documento</option>
                <option *ngFor="let tipoDocumento of tipoDocumentos" [value]="tipoDocumento.id">
                  {{ tipoDocumento.nombre }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="numeroDocumento">Número de Documento</label>
            <div class="input-group mb-3">
              <input
                type="numeroDocumento"
                class="form-control"
                formControlName="numero_documento"
                placeholder="Número de Documento"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="fecha_nacimiento">Fecha de Nacimiento</label>

            <div class="input-group mb-3">
              <input
                type="date"
                class="form-control"
                formControlName="fecha_nacimiento"
                placeholder="Fecha de Nacimiento"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Correo Electrónico"
                required
              />
            </div>
          </div>

          <div class="form-group">
            <label for="celular">Número de Celular</label>

            <div class="input-group mb-3">
              <input type="number" class="form-control" formControlName="celular" placeholder="Número de Celular" />
            </div>
          </div>

          <div class="form-group">
            <label for="id_congregacion">Congregación</label>
            <div class="input-group mb-3">
              <select
                class="form-control"
                formControlName="id_congregacion"
                (change)="listarCampos(txtCongregacion.value)"
                #txtCongregacion
              >
                <option value="" disabled>Seleccione la Congregación</option>
                <option *ngFor="let congregacion of congregaciones" [value]="congregacion.id">
                  {{ congregacion.nombre }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group" *ngIf="camposFiltrados.length > 0">
            <label for="id_congregacion">Campo</label>
            <div class="input-group mb-3">
              <select class="form-control" formControlName="campo">
                <option value="" disabled>Seleccione el campo al que pertenece</option>
                <option *ngFor="let campo of camposFiltrados" [value]="campo.id">{{ campo.nombre }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="id_genero">Género</label>
            <div class="input-group mb-3">
              <select class="form-control" formControlName="id_genero">
                <option value="" disabled>Seleccione el género</option>
                <option *ngFor="let genero of generos" [value]="genero.id">{{ genero.nombre }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="id_vacuna">Vacuna</label>
            <div class="input-group mb-3">
              <select class="form-control" formControlName="id_vacuna">
                <option value="" disabled>Seleccione la vacuna</option>
                <option *ngFor="let vacuna of vacunas" [value]="vacuna.id">{{ vacuna.nombre }}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary" [disabled]="perfilForm.invalid">
            <i class="fa fa-save"></i> Guardar Cambios
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Imagen de usuario</h3>
      </div>

      <div class="card-body">
        <div class="text-center">
          <img *ngIf="!imagenTemporal" [src]="usuario.imagenUrl" class="img-thumbnail" />
          <img *ngIf="imagenTemporal" [src]="imagenTemporal" class="img-thumbnail" />
        </div>

        <div class="mt-4">
          <input type="file" (change)="cambiarImagen($event.target.files[0])" />
          <br />
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!imagenSubir" (click)="subirImagen()">
          <i class="fa fa-save"></i> Cambiar Imagen
        </button>
      </div>
    </div>
  </div>
</div>
