<div class="hold-transition register-page">
  <div class="register-box pt-5">
    <div class="register-logo">
      <img
        src="./../../../assets/imagenes/logo.png"
        width="30%"
        class="img-fluid"
        alt="Sistema de gestión de la Congregación Mita"
      />
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Registrar un nuevo miembro</p>

        <form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="crearUsuario()">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Primer Nombre"
              formControlName="primer_nombre"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Segundo Nombre" formControlName="segundo_nombre" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Primer Apellido"
              formControlName="primer_apellido"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="segundo_apellido" placeholder="Segundo Apellido" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <select class="form-control" formControlName="id_tipoDocumento" placeholder="Tipo Documento">
              <option value="" disabled>Seleccione un tipo de documento</option>
              <option value="1">Cédula de Ciudadanía</option>
              <option value="2">Cédula de Extranjería</option>
              <option value="3">Pasaporte</option>
              <option value="4">Tarjeta de Identidad</option>
              <option value="5">Registro Civil</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              type="numeroDocumento"
              class="form-control"
              formControlName="numero_documento"
              placeholder="Número de Documento"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              type="date"
              class="form-control"
              formControlName="fecha_nacimiento"
              placeholder="Fecha de Nacimiento"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Correo Electrónico"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="number" class="form-control" formControlName="celular" placeholder="Número de Celular" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <select
              class="form-control"
              formControlName="id_congregacion"
              (change)="listarCampos(txtCongregacion.value)"
              #txtCongregacion
            >
              <option value="" disabled>Seleccione la Congregación</option>
              <option *ngFor="let congregacion of congregaciones" [value]="congregacion.id">
                {{ congregacion.nombre }}
              </option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3" *ngIf="camposFiltrados.length > 0">
            <select class="form-control" formControlName="campo">
              <option value="" disabled>Seleccione el campo al que pertenece</option>
              <option *ngFor="let campo of camposFiltrados" [value]="campo.id">
                {{ campo.nombre }}
              </option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <select class="form-control" formControlName="id_genero" placeholder="Género">
              <option value="" disabled>Seleccione el género</option>
              <option value="1">Femenino</option>
              <option value="2">Masculino</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <select class="form-control" formControlName="id_vacuna" placeholder="Vacuna">
              <option value="" disabled>Seleccione la Vacuna</option>
              <option value="1">Moderna</option>
              <option value="2">Sinovac</option>
              <option value="3">Pfizer</option>
              <option value="4">Johnson & Johnson</option>
              <option value="5">AstraZeneca</option>
              <option value="6">Sin Vacuna</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="file" class="form-control" formControlName="imagen" placeholder="Imagen" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree" formControlName="terminos" />
                <label for="agreeTerms"> Acepto los <a href="#"> términos y condiciones</a> </label>
              </div>
            </div>

            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Registrar</button>
            </div>
          </div>

          <div class="row">
            <div class="col text-danger">
              <small *ngIf="campoNoValido('primer_nombre')">El Nombre es obligatorio</small>
              <small *ngIf="campoNoValido('primer_apellido')">El Primer Apellido es obligatorio</small>
              <small *ngIf="campoNoValido('id_tipoDocumento')">El Tipo de Documento es obligatorio</small>
              <small *ngIf="campoNoValido('numero_documento')">El Número de documento es obligatorio</small>
              <small *ngIf="campoNoValido('fecha_nacimiento')">La Fecha de Nacimeinto es obligatoria</small>
              <small *ngIf="campoNoValido('id_genero')">El género es obligatorio</small>
              <small *ngIf="campoNoValido('id_vacuna')">Elija la vacuna</small>

              <small *ngIf="aceptaTerminos()">Debe de aceptar los términos y condiciones</small>
            </div>
          </div>
        </form>

        <span>¿Ya tienes una cuenta? <a routerLink="/login" class="text-center">Iniciar Sesión</a></span>
      </div>
      <!-- /.form-box -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.register-box -->
</div>
