<app-dashboard
  *ngIf="!!iniciarIngreso"
  [totalUsuarios]="totalTodosLosUsuarios"
  [totalCongregaciones]="congregaciones.length"
  [totalCampos]="campos.length"
  [totalMinisterios]="ministerios.length"
  [totalIngresos]="totalIngresos"
  [congregacionQueIngresa]="congregacionQueIngresa"
></app-dashboard>

<app-seleccionar-congregacion-ingreso
  *ngIf="!iniciarIngreso"
  (onNombreCongregacionIngreso)="obtenerNombreCongregacion($event)"
></app-seleccionar-congregacion-ingreso>

<div class="row" *ngIf="!!iniciarIngreso">
  <div class="col-md-6">
    <app-buscador
      [titulo]="titulo"
      [placeholder]="placeholderBuscador"
      [icono]="'fas fa-clinic-medical'"
      (onTerminoBusqueda)="buscarUsuario($event)"
    ></app-buscador>
  </div>
  <div class="col-md-6">
    <app-carnet-vacunacion
      *ngIf="existeUsuario"
      [busquedaUsuario]="usuarioEncontrado"
      [todosLosUsuarios]="todosLosUsuarios"
      [congregacionIngreso]="congregacionQueIngresa"
      [ingresos]="ingresos"
      (onIngresoUsuario)="ingresoUsuario($event)"
    ></app-carnet-vacunacion>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="d-flex justify-content-center">
      <button (click)="volverAlRegistro()" class="btn btn-danger btn-lg" type="button">
        <i class="fa fa-users"></i> Nuevo Registro
      </button>
    </div>
  </div>
</div>
