<app-dashboard
  [totalUsuarios]="totalUsuarios"
  [totalCongregaciones]="congregaciones.length"
  [totalCampos]="campos.length"
  [totalMinisterios]="ministerios.length"
></app-dashboard>

<div class="row">
  <div class="col-md-6">
    <app-buscador
      [titulo]="titulo"
      [placeholder]="placeholderBuscador"
      [icono]="'fas fa-clinic-medical'"
      (onTerminoBusqueda)="buscarUsuario($event)"
    ></app-buscador>
  </div>
  <div class="col-md-6">
    <app-carnet-vacunacion *ngIf="existeUsuario" [busquedaUsuario]="usuarios"></app-carnet-vacunacion>
  </div>
</div>
