<div>
  <div class="card">
    <div class="card-body">
      <div *ngIf="busquedaUsuario.length > 0; else noHayRegistro">
        <div *ngFor="let usuario of busquedaUsuario">
          <div class="titulo">
            <div class="info-box">
              <span class="info-box-icon">
                <i class="fas fa-check"></i>
              </span>
              <div class="info-box-content">
                <span class="info-box-text">
                  {{ usuario.primer_nombre }} {{ usuario.segundo_nombre }} {{ usuario.primer_apellido }}
                  {{ usuario.segundo_apellido }}</span
                >
                <span class="info-box-number">{{ usuario.numero_documento }}</span>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-primary btn-lg" (click)="darIngreso()">Ingresar</button>
          </div>
        </div>
      </div>
      <ng-template #noHayRegistro>
        <div class="info-box">
          <span [ngClass]="'no-ingreso'"><i [ngClass]="'fas fa-ban'"></i></span>
          <div class="info-box-content">
            <span class="info-box-text"> No existe un registro con el número de documento digitado</span>
          </div>
        </div>

        <div class="info-box-text text-center text-bold">
          <div>Por favor registre el usuario</div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
