/* Colors */

/* White and Gray */
$white: #ffffff;
$black: #000000;
$red: #da291c;
$gray: #595958;

/* Pink */
$pink: #e298c2;
$pinkOne: #efb7d3;
$pinkTwo: #fbd5e5;

/* Blue */
$blue: #1e2e60;
$blueOne: #253c96;
$blueTwo: #6eb8f5;

$primary: $blueTwo;

$disabled-link: #c8c7c7 !default;
