@import 'congregacion_variables';
@import url('https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0-rc/css/adminlte.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');


* {
  font-family: 'Montserrat', sans-serif, arial;
}
input.form-control.ng-untouched.ng-pristine.ng-invalid {
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
}

a {
  color: $primary;
}

a hover {
  color: $secundary;
}

.login-page,
.register-page {
  background-color: $white;
  height: 90vh;
}

.w100 {
  width: 100px;
}

.w200 {
  width: 200px;
}

.avatar {
  border-radius: 100%;
  width: 50px;
}

.pointer {
  cursor: pointer;
}

.sidebar-mini {
  height: auto;
}

.card-title {
  float: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.botonPrincipal {
  background-color: $blue;
  border-color: $blue;
  font-weight: bold;
}

.botonprincipal hover {
  background-color: $blueTwo;
  border-color: $white;
  font-weight: bold;
}

button.next.btn.btn-primary {
  border-radius: 0.8em;
}

button.btn.btn-primary.botonPrincipal {
  border-radius: 0.8em;
}

.tituloPrincipal {
  font-size: 25px;
  font-weight: bold;
  color: $blue;
}

.subtitulo {
  font-size: 20px;
  font-weight: 400;
  color: $gray;
}
