<div class="row">
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Informe de ingresos</h3>
      </div>
      <div class="card-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            title="Informe de Vacunación"
            width="1024"
            height="612"
            class="embed-responsive-item"
            src="https://app.powerbi.com/view?r=eyJrIjoiNTBiZDRjZWMtYzNjMi00MDcxLTkyNjUtNDFjMTQwNzZhMWFhIiwidCI6IjA4YjViMTkzLWI5YmItNDNmMi05MjJiLTdlMjk0OGE0MDhlOSIsImMiOjR9&pageName=ReportSection"
            frameborder="0"
            allowFullScreen="true"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
