<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Agregar Congregación</h3>
  </div>
  <div class="card-body">
    <form autocomplete="off" [formGroup]="congregacionForm" (Submit)="guardarCongregacion()">
      <div class="form-group">
        <label>Nombre:</label>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-home"></i></span>
          </div>
          <input
            type="text"
            formControlName="nombre"
            class="form-control"
            inputmode="text"
            placeholder="Ingrese el nombre de la Congregación"
          />
        </div>
      </div>

      <div class="form-group">
        <label>Dirección:</label>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>
          </div>
          <input
            type="text"
            formControlName="direccion"
            class="form-control"
            inputmode="text"
            placeholder="Ingrese la dirección de la Congregación"
          />
        </div>
      </div>

      <div class="form-group">
        <label>Teléfono:</label>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-phone"></i></span>
          </div>
          <input
            type="text"
            formControlName="telefono"
            class="form-control"
            inputmode="text"
            placeholder="Ingrese el teléfono de la Congregación"
          />
        </div>
      </div>

      <div class="col-4">
        <button type="submit" [disabled]="congregacionForm.invalid" class="btn btn-primary btn-block">
          <!-- (click)="guardarCongregacion()" -->
          <li class="fa fa-save"></li>
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
