<div class="row">
  <div class="col-md-6">
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Agregar Campos</h3>
      </div>
      <div class="card-body">
        <form autocomplete="off" [formGroup]="campoForm" (Submit)="guardarCampo()">
          <div class="form-group">
            <label>Nombre:</label>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-home"></i></span>
              </div>
              <input
                type="text"
                formControlName="nombre"
                class="form-control"
                inputmode="text"
                placeholder="Ingrese el nombre de la Congregación"
                required
              />
            </div>
          </div>

          <div class="form-group">
            <label>Dirección:</label>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>
              </div>
              <input
                type="text"
                formControlName="direccion"
                class="form-control"
                inputmode="text"
                placeholder="Ingrese la dirección de la Congregación"
              />
            </div>
          </div>

          <div class="form-group">
            <label>Teléfono:</label>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
              </div>
              <input
                type="text"
                formControlName="telefono"
                class="form-control"
                inputmode="text"
                placeholder="Ingrese el teléfono de la Congregación"
              />
            </div>
          </div>

          <div class="form-group">
            <label>Congregación Principal:</label>
            <select required class="form-control select2 select2-hidden-accessible" formControlName="id_congregacion">
              <option value="">Seleccione la congregación</option>
              <option *ngFor="let congregacion of congregaciones" [value]="congregacion.id">
                {{ congregacion.nombre }}
              </option>
            </select>
          </div>

          <div class="col-4">
            <button
              type="submit"
              [disabled]="campoForm.invalid"
              (click)="guardarCampo()"
              class="btn btn-primary btn-block"
            >
              <li class="fa fa-save"></li>
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6 animate__animated animate__fadeIn animate__slow" *ngIf="congregacionSeleccionada">
    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Congregación Principal</h3>
      </div>
      <div class="card-body">
        <p><strong>Congregación Seleccionada:</strong> {{ congregacionSeleccionada.nombre }}</p>
        <p><strong>Dirección:</strong> {{ congregacionSeleccionada.direccion }}</p>
        <p><strong>Teléfono:</strong> {{ congregacionSeleccionada.telefono }}</p>
      </div>
    </div>
  </div>
</div>
